@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#hour {
    font-family:'Work Sans', sans-serif;
    font-size: 4.75rem;
    padding: 2.50rem;
}

#hourContainer {
    background-color: blue;
    margin: 1.25%;
    text-align: center;
    width: fit-content;
    border-radius: 0.5rem;
}